/EnregistrementXML.class
/EspaceTravail$ActionClickSouris.class
/EspaceTravail$ActionDragSouris.class
/EspaceTravail.class
/Forme.class
/IEnregistrement.class
/IEspaceTravail.class
/IForme.class
/Ligne.class
/Rectangle.class
